.formuser{
    padding: 20px 10px;
    min-height: 500px;
    vertical-align: top;
    margin-bottom: 16px;
    width: 650px;
}

.noti{
    background: rgb(244, 251, 254);
    box-shadow: 0 1px 3px 0 rgb(27 27 27 / 10%);
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;

}

.kbY4M{
    line-height: 32px;
    padding: 12px;
}

.nho{
    background: rgb(119, 198, 238);
    position: absolute;
    width: 2px;
    height: 24px;
    top: 16px;
    left: 0;
}
.text1{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    font-weight: 700;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #434343;
    font-family: MuseoSans,sans-serif;
}
h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text2{
    width: 35%;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
}
.label{
    cursor: pointer;
    color: #0770cd;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 700;
    font-size: 14px;
}

.site-drawer-render-in-current-wrapper {
    position: relative;
    height: 200px;
    padding: 48px;
    overflow: hidden;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ebedf0;
    border-radius: 2px;
  }